a {
  text-decoration: none;
  color: white;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
}

h1 {
  color: white;
  font-size: 40px;
  line-height: 1.5em;
  letter-spacing: -.2px;
  margin: 0;
}

h1 strong {
  color: #026fff;
}

h2 {
  color: #026fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
  text-transform: uppercase;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contact {
  align-items: center;
  background-color: #056fff;
  color: white;
  height: 150px;
  display: flex;
  justify-content: space-between;
}

.container {
  align-items: inherit;
  display: inherit;
  flex-wrap: inherit;
  height: inherit;
  justify-content: inherit;
  margin: 0 auto;
  width: 1000px;
}

.event {
  background-color: #f4fbff;
  border-radius: 10px;
  flex-shrink: 0;
  margin: 10px;
  width: 480px;
  overflow: hidden;
}

.event-detail {
  background-color: white;
  margin: 20px 40px;
  margin-top: -40px;
  padding: 20px;
  position: relative;
  text-align: center;
}

.event-description {
  text-align: left;
}

.event-list-title {
  margin-left: 20px;
}

.event-url {
  color: #056fff;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px 20px;
}

.event img {
  width: 480px;
  height: 200px;
  object-fit: cover;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
}

.form-email button {
  background: transparent;
  border-radius: 5px;
  border-color: white;
  color: white;
  display: block;
  margin-top: 10px;
  padding: 10px 0;
  width: 100px;
}
.form-email h3 {
  font-family: 'Source Sans Pro', sans-serif;
}

.form-email input {
  border-color: gray;
  border-radius: 5px;
  border-style: solid;
  padding: 10px 20px 10px 25px;
  background-image: url('../images/envelope.svg');
  background-position-x: 5px;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
}

.footer {
  align-items: center;
  background-color: #1b2127;
  color: white;
  display: flex;
  justify-content: space-between;
}
.footer img {
  vertical-align: middle;
}

.header {
  align-items: center;
  background-color: #1b2127;
  color: white;
  display: flex;
  height: 70px;
  justify-content: space-between;
}

.header a {
  align-items: center;
  color: white;
  display: flex;
  height: inherit;
  padding: 0 10px;
}

.header ol {
  display: flex;
  height: inherit;
}

.header ol li {
  height: inherit;
}

.hero {
  align-items: center;
  /* background-image: url('../images/hero.jpg'); */
  background-color: #1b2127;
  /* background-size: 500px, 300px; */
  background-repeat: no-repeat;
  background-position-x: right;
  display: flex;
  height: 300px;
  justify-content: space-between;
}

.hero-image {
  object-fit: cover;
}

.menu {
  height: inherit;
}

.portfolio {
  background: #fafafa;
  padding: 20px;
}

.project {
  align-items: center;
  background: #fff;
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 20px;
}

.project-course,
.project-date,
.project-url {
  margin: 10px 0;
}

.project-description {
  font-size: 20px;
}

.project-details {
  width: 500px;
  height: 200px;
}

.project-imageContainer {
  width: 500px;
}

.project strong {
  font-family: 'Fjalla One', sans-serif;
}

.project-title {
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 0;
}

.social-link {
  background-size: 50px 50px;
  display: inline-block;
  height: 50px;
  margin: 0 10px;
  width: 50px;
}

.social-link.twitter {
  background-image: url(../images/twitter.svg);
}

.social-link.facebook {
  background-image: url(../images/facebook.svg);
}

.social-link.instagram {
  background-image: url(../images/instagram.svg);
}

.social-link.github {
  background-image: url(../images/github.svg);
}